@font-face {
    font-family: ProximaNova;
    src: url("/fonts/proxima_nova/proxima_nova_reg-webfont.ttf");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    position: relative;
    background: white;
    padding-top: 1%;
    font-family: "ProximaNova";
}

a {
    color: #ACBAD2;
    :hover {
        cursor: url(http://cur.cursors-4u.net/others/oth-7/oth639.cur), progress !important;
        color: #5898f1;
    }
}

.btn:hover {
    cursor: url(http://cur.cursors-4u.net/others/oth-7/oth639.cur), progress !important;
    border: 1px solid #5898f1;
    outline: 0;
    color: white;
    background-color: #5898f1;
}

.initialFontSize {
    font-size: initial;
}

.centerText {
    text-align: -webkit-center;
}

.container.mainContainer {
    margin-top: 1%;
}

.container {
    position: relative;
}

::selection {
    background: white;
    color: #5898f1;
}

.marginTop {
    margin-top: 5%;
}

.marginBottom {
    margin-bottom: 5%;
}

.marginTopBottom {
    margin-top: 15px;
    margin-bottom: 15px;
}

.morePadding {
    padding: 5%;
}

.valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}