.mdl-card__title {
    color: black;
    background: url('{{theProduct.logo}}') center / cover;
}

.productCard {
    min-height: 600px;
    width: 100%;
    /* padding: 5%; */
}

.detailsCard {
    width: 100%;
}

.mdl-card__supporting-text {
    width: 100%;
        padding-left: 10%;
    padding-right: 10%;
}

.marginBottom {
  margin-bottom: 5%;
}

.marginTopBottom {
  margin-top: 15px;
  margin-bottom: 15px;
}