.mdl-card__title {
    color: black;
}

.detailsCard {
    width: 100%;
}

.mdl-card__supporting-text {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.productCard > .mdl-card__title {
    color: black;
}

.mdl-card {
  border: 2px solid rgba(0,0,0,.1);
}