.image-bg-fluid-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
    background: url('images/working.png') no-repeat center center scroll;
    padding: 100px 0;
}

.img-center {
    margin: 0 auto;
}

.title {
    color: #5898f1;
}