<div class="mdl-card mdl-shadow--3dp centerText marginBottom">
    <div class="row marginTopBottom">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>Add a bootcamp</h3>
        </div>
    </div>
    <form>
        <div class="col-md-6">
            <div class="row marginTopBottom">
                <label>Bootcamp Title</label>
                <input ng-model="newProduct.title" />
            </div>
            <div class="row marginTopBottom">
                <label>Course Report URL</label>
                <input ng-model="newProduct.courseReport.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Facebook URL</label>
                <input ng-model="newProduct.facebook.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Google+ URL</label>
                <input ng-model="newProduct.googlePlus.url" />
            </div>
            <div class="row marginTopBottom">
                <label>LinkedIn URL</label>
                <input ng-model="newProduct.linkedin.url" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="row marginTopBottom">
                <label>Quora URL</label>
                <input ng-model="newProduct.quora.url" />
                <button ng-click="checkQuora()">Check Quora</button>
                <div ng-show="quoraFound === false" ng-hide="quoraFound === true">No data found from Quora!</div>
                <div ng-show="quoraFound === true" ng-hide="quoraFound === false">Data found from Quora!</div>
            </div>
            <div class="row marginTopBottom">
                <label>Switchup URL</label>
                <input ng-model="newProduct.switchup.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Techendo URL</label>
                <input ng-model="newProduct.techendo.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Twitter URL</label>
                <input ng-model="newProduct.twitter.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Yelp URL</label>
                <input ng-model="newProduct.yelp.url" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="row marginTopBottom">
                <a class="btn btn-primary btn-lg btn-standard" ng-click="addProduct()">ADD THIS BOOTCAMP</a>
            </div>
        </div>
    </form>
</div>
<admin-product-line ng-repeat="product in products" product="product"></admin-product-line>