<div class="mdl-card mdl-shadow--3dp centerText marginBottom">
    <form>
        <div class="col-md-6">
            <div class="row marginTopBottom">
                <label>Bootcamp Title</label>
                <input ng-model="theProduct.title" />
            </div>
            <div class="row marginTopBottom">
                <label>Course Report URL</label>
                <input ng-model="theProduct.courseReport.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Facebook URL</label>
                <input ng-model="theProduct.facebook.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Google+ URL</label>
                <input ng-model="theProduct.googlePlus.url" />
            </div>
            <div class="row marginTopBottom">
                <label>LinkedIn URL</label>
                <input ng-model="theProduct.linkedin.url" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="row marginTopBottom">
                <label>Quora URL</label>
                <input ng-model="theProduct.quora.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Switchup URL</label>
                <input ng-model="theProduct.switchup.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Techendo URL</label>
                <input ng-model="theProduct.techendo.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Twitter URL</label>
                <input ng-model="theProduct.twitter.url" />
            </div>
            <div class="row marginTopBottom">
                <label>Yelp URL</label>
                <input ng-model="theProduct.yelp.url" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="row marginTopBottom">
                    <a class="btn btn-primary btn-lg btn-standard" ng-click="update()"><i class="fa fa-pencil"></i> Update</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row marginTopBottom">
                    <a class="btn btn-primary btn-lg btn-standard" ng-click="delete()"><i class="fa fa-times"></i> Delete</a>
                </div>
            </div>
        </div>
    </form>
</div>