<div class="mdl-card mdl-shadow--3dp centerText marginBottom">
    <div class="row marginTopBottom">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>Add a bootcamp</h3>
        </div>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label><p>Bootcamp Title</p></label>
            <input ng-model="newProduct.title" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <div class="col-md-6">
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://angel.co/bootcamp</p></label>
                    <input ng-model="newProduct.angelList.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://www.coursereport.com/schools/bootcamp</p></label>
                    <input ng-model="newProduct.courseReport.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://www.facebook.com/bootcamp</p></label>
                    <input ng-model="newProduct.facebook.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://www.plus.google.com/bootcamp/about</p></label>
                    <input ng-model="newProduct.googlePlus.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://www.linkedin.com/company/bootcamp</p></label>
                    <input ng-model="newProduct.linkedin.url" />
                </md-input-container>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://www.quora.com/bootcamp</p></label>
                    <input ng-model="newProduct.quora.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://www.facebook.com/bootcamp</p></label>
                    <input ng-model="newProduct.switchup.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://schools.techendo.com/schools/bootcamp</p></label>
                    <input ng-model="newProduct.techendo.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://www.twitter.com/bootcamp</p></label>
                    <input ng-model="newProduct.twitter.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label><p>i.e. http://www.yelp.com/biz/bootcamp</p></label>
                    <input ng-model="newProduct.yelp.url" />
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row marginTopBottom">
            <a class="btn btn-primary btn-lg btn-standard marginBottom" ng-click="addProduct()">ADD THIS BOOTCAMP</a>
        </div>
    </div>
</div>
<admin-product-line ng-repeat="product in products" product="product" class="col-md-6"></admin-product-line>
