<div class="mdl-card mdl-shadow--3dp centerText marginBottom col-md-6">
    <div class="row marginTopBottom">
        <div class="col-md-12 marginTop">
            <md-input-container flex>
                <label>Bootcamp Title</label>
                <input ng-model="theProduct.title" />
            </md-input-container>
        </div>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>AngelList URL</label>
            <input ng-model="theProduct.angelList.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Course Report URL</label>
            <input ng-model="theProduct.courseReport.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Facebook URL</label>
            <input ng-model="theProduct.facebook.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Google+ URL</label>
            <input ng-model="theProduct.googlePlus.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>LinkedIn URL</label>
            <input ng-model="theProduct.linkedin.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Quora URL</label>
            <input ng-model="theProduct.quora.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Switchup URL</label>
            <input ng-model="theProduct.switchup.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Techendo URL</label>
            <input ng-model="theProduct.techendo.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Twitter URL</label>
            <input ng-model="theProduct.twitter.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Yelp URL</label>
            <input ng-model="theProduct.yelp.url" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-standard marginBottom" ng-click="update()"><i class="fa fa-pencil"></i> Update</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-standard marginBottom" ng-click="delete()"><i class="fa fa-times"></i> Delete</a>
        </div>
    </div>
</div>