<div class="mdl-card mdl-shadow--3dp centerText marginBottom">
    <div class="row marginTopBottom">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>Add a bootcamp</h3>
        </div>
    </div>
    <div class="row marginTopBottom">
        <md-input-container flex>
            <label>Bootcamp Title</label>
            <input ng-model="newProduct.title" />
        </md-input-container>
    </div>
    <div class="row marginTopBottom">
        <div class="col-md-6">
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>AngelList URL</label>
                    <input ng-model="newProduct.angelList.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>Course Report URL</label>
                    <input ng-model="newProduct.courseReport.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>Facebook URL</label>
                    <input ng-model="newProduct.facebook.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>Google+ URL</label>
                    <input ng-model="newProduct.googlePlus.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>LinkedIn URL</label>
                    <input ng-model="newProduct.linkedin.url" />
                </md-input-container>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>Quora URL</label>
                    <input ng-model="newProduct.quora.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>Switchup URL</label>
                    <input ng-model="newProduct.switchup.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>Techendo URL</label>
                    <input ng-model="newProduct.techendo.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>Twitter URL</label>
                    <input ng-model="newProduct.twitter.url" />
                </md-input-container>
            </div>
            <div class="row marginTopBottom">
                <md-input-container flex>
                    <label>Yelp URL</label>
                    <input ng-model="newProduct.yelp.url" />
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row marginTopBottom">
            <a class="btn btn-primary btn-lg btn-standard marginBottom" ng-click="addProduct()">ADD THIS BOOTCAMP</a>
        </div>
    </div>
</div>
<admin-product-line ng-repeat="product in products" product="product" class="col-md-6"></admin-product-line>
