<div id="home col-sm-12 col-md-12 col-lg-12">
    <div class="row marginLittleBottom">
        <div class="col-md-3">
            <button class="btn btn-lg btn-primary btn-block btn-standard" ng-click="sortBy('title')">title</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-lg btn-primary btn-block btn-standard" ng-click="sortBy('avgRating')">average rating</button>
            </p>
        </div>
        <div class="col-md-3">
            <button class="btn btn-lg btn-primary btn-block btn-standard" ng-click="sortBy('totalReviews')">number of reviews</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-lg btn-primary btn-block btn-standard" ng-click="sortBy('totalSocial')">social score</button>
        </div>
    </div>
    <div class="row">
        <h4 class="nullMessage" ng-show="noContent">Sorry. We couldn't find any bootcamps for you!</h4>
    </div>
    <product-thumbnail ng-repeat="productEntry in products | orderBy:predicate:reverse" product="productEntry"></product-thumbnail>
</div>